---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;
.circular-image {
  width: 50%; 
  height: auto;
  border-radius: 50%; /* This creates the circular shape */
  /* Add any other styling you want, like width, height, etc. */
}
.reading-group-agenda {
  width: 100%;
  border-collapse: collapse; 

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
}
.activity {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; /* Adjust spacing between activities */

  .activity-image {
    width: 150px; /* Adjust image width */
    height: auto;
    border-radius: 50%;
    margin-right: 2rem; /* Adjust spacing between image and content */
  }
}
